[user]
	name = Chris Wilson
	email = christopher.david.wilson@gmail.com
[core]
	editor = code --wait
	excludesfile = /Users/chris/.gitignore
	quotepath = false
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
	stash-unapply = !git stash show -p | git apply -R
	amend = commit --amend -C HEAD
	gerrit = push origin HEAD:refs/for/master
	prepush = log --graph --stat origin/master..
[merge]
	tool = Kaleidoscope
	summary = true
[diff]
	tool = Kaleidoscope
	submodule = log
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[color "diff"]
	whitespace = red reverse
[instaweb]
	local = true
	httpd = webrick
[push]
	default = simple
	recurseSubmodules = check
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[commit]
	template = /Users/chris/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = ~/.gitincludes
[status]
	submodulesummary = 1
[submodule]
	recurse = true
[pull]
	rebase = false
