[includeIf "gitdir:/Users/"]
    path = ~/.gitconfigs/macos.gitconfig
[includeIf "gitdir:C:/"]
    path = ~/.gitconfigs/windows.gitconfig
[includeIf "gitdir:/home/"]
    path = ~/.gitconfigs/linux.gitconfig
[includeIf "gitdir:~/Flying_Camp_Design/"]
	path = ~/.gitconfigs/flying_camp_design.gitconfig
[includeIf "gitdir:~/Tempo_Automation/"]
	path = ~/.gitconfigs/tempo_automation.gitconfig
[user]
	name = Chris Wilson
	email = christopher.david.wilson@gmail.com
[core]
	editor = code --wait
	excludesfile = ~/.gitignore
	quotepath = false
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
	stash-unapply = !git stash show -p | git apply -R
	amend = commit --amend --no-edit
	gerrit = push origin HEAD:refs/for/master
	prepush = log --graph --stat origin/master..
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
[color "diff"]
	whitespace = red reverse
[instaweb]
	local = true
	httpd = webrick
[push]
	default = simple
	recurseSubmodules = check
[difftool]
	prompt = false
[mergetool]
	prompt = false
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[commit]
	template = ~/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[status]
	submodulesummary = 1
[submodule]
	recurse = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[init]
	defaultBranch = main
	templateDir = ~/.git-template
[fetch]
	prune = true
